*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

#navbar{
    height: 60px;
    background-color:rgba(15, 17, 17, 0.9);

}
button{
    background-color: #f08804;
   
   
}
#logo{
    color: #f08804;
    font-size: 25px;
    text-decoration: underline;
    }

a{
    margin-right: 200px;
    font-size: 20px;
    text-decoration: none;
}

input
{
    color: #0f1111;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}